@import "general";

.menu_chart.aktif {
  top: 85px;
  opacity: 1;
  visibility: visible;
}

.menu_chart {
  z-index: 2;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  top: 65px;
  position: absolute;
  height: 256px;
  width: 96%;
  border-radius: 8px;
  margin-top: 8px;
  background-color: $White;
  left: 50%;
  transform: translate(-50%, 0);
  .isi_menu_cart {
    height: 100%;
    display: flex;
    flex-direction: column;
    .judul {
      border-bottom: 1px solid $Grayish_blue;
      padding: 24px;
    }
    p {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
