@import "general";
.price {
  .price_discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      margin-right: 16px;
      font-size: 28px;
    }
    p {
      font-weight: 700;
      font-size: 12px;
      font-family: "Kumbh Sans", sans-serif;
      border-radius: 6px;
      padding: 3px 6px 3px 6px;
      background-color: hsla(26, 100%, 55%, 0.2);
      color: $Orange;
    }
  }
  .price_before {
    position: relative;
    p {
      color: $Grayish_blue;
    }
    .line {
      position: absolute;
      top: 50%;
      height: 2px;
      width: 100%;
      background-color: $Grayish_blue;
    }
  }
  margin: 0 24px 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
